USE [QLDA]
GO

/*XEM THONG TIN BANG NHAN VIEN*/
SELECT NHANVIEN. *
FROM NHANVIEN

/*XEM THONG TIN HO TEN,PHAI CUA NHAN VIEN*/
/*SELECT NV.HONV,NV.TENLOT,NV.TENLOT,NV.PHAI
FROM NHANVIEN NV "or nhu ben duoi"*/
SELECT NHANVIEN.HONV,NHANVIEN.TENLOT,NHANVIEN.TENNV,NHANVIEN.PHAI
FROM NHANVIEN
GO

--XEM THONG TIN CO DIEU KIEN
SELECT NV.HONV,NV.TENLOT,NV.TENNV,NV.PHAI
FROM NHANVIEN NV
WHERE NV.PHG = 5
GO

--HOTEN, MANV, "#TENPHONG" (DK MA PHONG = 5)
SELECT NV.HONV,NV.TENLOT,NV.TENNV,NV.MANV,PB.TENPHG
FROM NHANVIEN NV JOIN PHONGBAN PB ON NV.PHG=PB.MAPHG
WHERE NV.PHG = 5

/*BAI LAM*/
--*2.1.1 Truy vấn đơn giản
--1. Tìm các nhân viên làm việc ở phòng số 4
SELECT NV. *
FROM NHANVIEN NV
WHERE NV.PHG = 4

--2. Tìm các nhân viên có mức lương trên 30000
SELECT NV. *
FROM NHANVIEN NV
WHERE NV.LUONG > 30000

/*3. Tìm các nhân viên có mức lương trên 25,000 ở phòng 4 hoặc các nhân
viên có mức lương trên 30,000 ở phòng 5*/
SELECT NV. *
FROM NHANVIEN NV
WHERE NV.LUONG > 25000 AND NV.PHG = 4 OR NV.LUONG > 30000 AND NV.PHG = 5
 
--4. Cho biết họ tên đầy đủ của các nhân viên ở TP HCM
SELECT NV.HONV,TENLOT,TENNV
FROM NHANVIEN NV
WHERE NV.DCHI LIKE '%TP HCM%'

--5. Cho biết họ tên đầy đủ của các nhân viên có họ bắt đầu bằng ký tự 'N'
SELECT NV.HONV+' '+TENLOT+' '+TENNV AS N'HO VA TEN'
FROM NHANVIEN NV
WHERE NV.HONV LIKE 'N%'

-- 6. Cho biết ngày sinh và địa chỉ của nhân viên Dinh Ba Tien 
SELECT NV.NGSINH, NV.DCHI
FROM NHANVIEN NV
WHERE HONV = N'Đinh' AND TENLOT = N'Bá' AND TENNV = N'Tiên';

--7. Cho biết các nhân viên có năm sinh trong khoảng 1960 đến 1965
SELECT NV.*
FROM NHANVIEN NV
--WHERE YEAR(NV.NGSINH) BETWEEN 1960 AND 1965 (or ben duoi)
WHERE YEAR(NV.NGSINH) >= 1960 AND YEAR(NV.NGSINH) <= 1965

--8. Cho biết các nhân viên và năm sinh của nhân viên
SELECT NV.HONV+' '+NV.TENLOT+' '+NV.TENNV AS 'HO VA TEN', YEAR(NV.NGSINH) AS 'NAM SINH'
FROM NHANVIEN NV

--9. Cho biết các nhân viên và tuổi của nhân viên
SELECT NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO VA TEN', YEAR(GETDATE()) - YEAR(NV.NGSINH) AS 'TUOI'
FROM NHANVIEN NV

--10. Với mỗi phòng ban, cho biết tên phòng ban và địa điểm phòng
SELECT PB.TENPHG,DDP.DIADIEM
FROM PHONGBAN PB JOIN DIADIEM_PHG DDP ON PB.MAPHG =PB.MAPHG

--11. Tìm tên những người trưởng phòng của từng phòng ban
SELECT PB.TENPHG, NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO TEN TRUONG PHONG'
FROM PHONGBAN PB 
JOIN NHANVIEN NV ON PB.TRPHG = NV.MANV

--12. Tìm tên và địa chỉ của tất cả các nhân viên của phòng "Nghiên cứu".
SELECT NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO TEN NHAN VIEN',NV.DCHI
FROM NHANVIEN NV JOIN PHONGBAN PB ON PB.TRPHG=NV.MANV
WHERE PB.TENPHG = N'Nghiên cứu'

--13. Với mỗi đề án ở Hà Nội, cho biết tên đề án, tên phòng ban, họ tên và ngày nhận chức của trưởng phòng của phòng ban chủ trì đề án đó.
SELECT DA.TENDEAN,PB.TENPHG,NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO TEN TRUONG PHONG',PB.NG_NHANCHUC
FROM DEAN DA
JOIN PHONGBAN PB ON DA.PHONG = PB.MAPHG
JOIN NHANVIEN NV ON PB.TRPHG = NV.MANV
WHERE DA.DDIEM_DA = N'Hà Nội'

--14. Tìm tên những nữ nhân viên và tên người thân của họ
SELECT NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO TEN NU NV', TN.TENTN AS 'TEN NGUOI THAN'
FROM NHANVIEN NV JOIN THANNHAN TN ON NV.MANV = TN.MA_NVIEN
WHERE NV.PHAI = N'Nữ'

--15. Với mỗi nhân viên, cho biết họ tên nhân viên và họ tên người quản lý trực tiếp của nhân viên đó
SELECT NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'HO TEN NHAN VIEN',QL.HONV + ' ' + QL.TENLOT + ' ' + QL.TENNV AS 'HO TEN NGUOI QUAN LY'
FROM NHANVIEN NV LEFT JOIN NHANVIEN QL ON NV.MA_NQL = QL.MANV

--16. Với mỗi nhân viên, cho biết họ tên của nhân viên đó, họ tên người trưởng phòng và họ tên người quản lý trực tiếp của nhân viên đó.
SELECT 
    NV.HONV + ' ' + NV.TENLOT + ' ' + NV.TENNV AS 'NHAN VIEN',
    QL.HONV + ' ' + QL.TENLOT + ' ' + QL.TENNV AS 'QUAN LY TRUC TIEP',
    TP.HONV + ' ' + TP.TENLOT + ' ' + TP.TENNV AS 'TRUONG PHONG'
FROM NHANVIEN NV
LEFT JOIN NHANVIEN QL ON NV.MA_NQL = QL.MANV
LEFT JOIN PHONGBAN PB ON NV.PHG = PB.MAPHG
LEFT JOIN NHANVIEN TP ON PB.TRPHG = TP.MANV

--17. Tên những nhân viên phòng số 5 có tham gia vào đề án "Sản phẩm X" và nhân viên này do "Nguyễn Thanh Tùng" quản lý trực tiếp.
SELECT NV.TENNV
FROM NHANVIEN NV 
JOIN PHANCONG PC ON NV.MANV=PC.MA_NVIEN
--JOIN CONGVIEC CV ON PC.MADA=CV.MADA
--JOIN DEAN DA ON CV.MADA=DA.MADA
JOIN DEAN DA ON PC.MADA = DA.MADA -- Nối trực tiếp PC với DA
JOIN NHANVIEN QL ON NV.MA_NQL = QL.MANV
WHERE NV.PHG = 5 AND DA.TENDEAN = N'Sản Phẩm x' AND QL.HONV = N'Nguễn' AND QL.TENLOT = N'Thanh' AND QL.TENNV = N'Tùng'

--18. Cho biết tên các đề án mà nhân viên Đinh Bá Tiến đã tham gia.
-- DISTINCT loai bo dong trung lap
SELECT DISTINCT DA.TENDEAN
FROM NHANVIEN NV
JOIN PHANCONG PC ON NV.MANV = PC.MA_NVIEN
JOIN CONGVIEC CV ON PC.MADA = CV.MADA and pc.STT = cv.STT
JOIN DEAN DA ON CV.MADA = DA.MADA
WHERE NV.HONV = N'Đinh' 
AND NV.TENLOT = N'Bá' 
AND NV.TENNV = N'Tiên'


-- 19. Cho biết số lượng đề án của công ty
SELECT COUNT(MADA) AS TongSoDeAn
FROM DEAN

-- 20. Cho biết số lượng đề án do phòng 'Nghiên Cứu' chủ trì
SELECT PHONG, COUNT(MADA) AS SoLuongDeAn
FROM DEAN
WHERE PHONG = (
    SELECT MAPHG 
    FROM PHONGBAN 
    WHERE TENPHG = N'Nghiên Cứu'
)
GROUP BY PHONG
	
-- 21. Cho biết lương trung bình của các nữ nhân viên
SELECT PHAI, AVG(LUONG) AS Luong_trung_binh
FROM NHANVIEN
WHERE PHAI = N'Nữ'
GROUP BY PHAI

-- 22. Cho biết số thân nhân của nhân viên 'Đinh Bá Tiến'
SELECT NV.MANV, COUNT(TN.MA_NVIEN) AS N'ThanNhanCuaDinhBaTien'
FROM THANNHAN TN
JOIN NHANVIEN NV ON NV.MANV = TN.MA_NVIEN
WHERE NV.HONV = N'Đinh' AND NV.TENLOT = N'Bá' AND NV.TENNV = N'Tiên'
GROUP BY TN.MA_NVIEN ,NV.MANV

-- 23. Với mỗi đề án, liệt kê tên đề án và tổng số giờ làm việc một tuần của tất cả các nhân viên tham dự đề án đó
SELECT DA.TENDEAN, SUM(PC.THOIGIAN) AS Tong_So_Gio
FROM DEAN DA, PHANCONG PC
WHERE DA.MADA = PC.MADA
GROUP BY DA.TENDEAN

-- 24. Với mỗi đề án, cho biết có bao nhiêu nhân viên tham gia đề án đó
SELECT DA.TENDEAN, COUNT(NV.MANV) AS So_Luong_NV
FROM NHANVIEN NV
JOIN PHANCONG PC ON NV.MANV = PC.MA_NVIEN
JOIN CONGVIEC CV ON PC.MADA = CV.MADA
JOIN DEAN DA ON CV.MADA = DA.MADA
GROUP BY DA.TENDEAN

/*37. Cho biết danh sách các đề án (MADA) có: nhân công với họ (HONV) là
'Đinh' hoặc có người trưởng phòng chủ trì đề án với họ (HONV) là
'Đinh'.*/

-- Sử dụng UNION để gộp kết quả từ 2 điều kiện
SELECT DA.MADA
FROM DEAN DA
JOIN PHANCONG PC ON DA.MADA = PC.MADA
JOIN NHANVIEN NV ON PC.MA_NVIEN = NV.MANV
WHERE NV.HONV = N'Đinh'
UNION
SELECT DA.MADA
FROM DEAN DA
JOIN PHONGBAN PB ON DA.PHONG = PB.MAPHG
JOIN NHANVIEN NV ON PB.TRPHG = NV.MANV
WHERE NV.HONV = N'Đinh';

